<h1>Welcome back!</h1>
<%= form_for(:session, url: login_path) do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.check_box :remember_me %>
  <span>Remember me on this computer</span>
  <%= form.submit "Log in" %>
<% end %>
