<nav class='main-nav'>
  <ul class='nav-links'>
    <li><%= link_to 'specs', jasmine_rails_path %></li>
    <li><%= link_to 'about', about_path %></li>
    <% if logged_in? %>
      <li>Hello, <%= current_user.name %></li>
      <li><%= link_to 'Log out', logout_path, method: :delete %></li>
      <li><%= link_to 'Profile', current_user %></li>
    <% else %>
      <li><%= link_to 'Join', new_user_path %></li>
      <li><%= link_to 'Log in', login_path %></li>
    <% end %>
  </ul>
</nav>
