<div class="l-container-center">
  <div class="hot-tub">
    <%= image_tag 'https://d13yacurqjgara.cloudfront.net/users/137644/screenshots/1877532/hottub.png' %>
  </div>
  <h1 class="h5">Nothing to see here.</h1>
  <p class="p">A few years ago I started Fake Farm as a static site to practice front end pet projects. However, I recently decided to convert to a <a href="https://github.com/fakefarm/fakefarmapp">Ruby on Rails app</a>. </p>
    <p class='p'>
      Currently, I'm spending my time on the backend stuff (users, authentication, aws, new relic, etc) so there's not much to see right now. Feel free to visit my other placeholder domains, or my github.
    </p>
    <ul>
      <li class='p'><%= link_to 'dave.woodalls.me', 'http://dave.woodalls.me' %>
      </li>
      <li class='p'><%= link_to 'davewoodall.com', 'http://www.davewoodall.com' %>
      </li>
      <li class="p">
        <%= link_to 'github', 'http://www.github.com/fakefarm' %>
      </li>
    </ul>
    <%= image_tag 'face.svg' %>
</div>
