<%= render partial: 'head' %>

<div class='l-container-center'>
  <section class='tickets-container l-half'>
    <h1 class='h1'>tickets</h1>
    <% @tickets_decorator.tickets.each do |ticket| %>
      <div class='h3'>
        <%= link_to ticket_path(ticket), class: 'listed-ticket' do %>
          <span><%= ticket.ticket %></span>
          <span><%= ticket.title %></span>
          <%= render partial: 'status_bar', locals: { ticket: ticket } %>
        <% end %>
      </div>
    <% end %>
  </section>
  <section class='l-half new-ticket'>
    <%= link_to 'new ticket', new_ticket_path, class: 'h2' %>
    <%= render partial: 'form' %>
  </section>
</div>
