<%= render partial: 'head' %>

<section class='l-container-center'>
  <section class='l-half'>
    <%= link_to 'all tickets', tickets_path %>
    <div><%= @ticket_decorator.ticket.ticket %></div>
    <h1 class='h2'><%= @ticket_decorator.headline %></h1>
    <%= render partial: 'status_bar', locals: { ticket: @ticket_decorator.ticket } %>
    <hr>
    <%= render partial: 'action_bar', locals: { ticket: @ticket_decorator } %>
  </section>
  <section class='l-half border-wrapper'>
    <%= form_for @ticket_decorator.ticket do |f| %>
      <%= f.label :ticket %>
      <%= f.text_field :ticket %><br>
      <%= f.label :title %>
      <%= f.text_field :title %><br>
      <%= f.label :summary %>
      <%= f.text_field :summary %><br>
      <%= f.label :merge %>
      <%= f.text_field :merge %><br>
      <%= f.label :date_due %>
      <%= f.date_field :date_due %><br>
      <%= f.label :date_started %>
      <%= f.date_field :date_started %><br>
      <%= f.button 'Update' %>
    <% end %>
  </section>
</section>
