<p id="notice"><%= notice %></p>
<h1 class='h2'><%= @bible.reference %></h1>
<h2 class='h1'><%= @bible.text %></h2>
<%= link_to 'Edit', edit_verse_path(@verse) %> |
<%= link_to 'Back', verses_path %>
