<%= render partial: 'head' %>

<div class='l-container-center welcome-content'>
  <section class='l-half center-text'>
    <h1 class='h1'>
      Fake Farm
    </h1>
    <div class="hot-tub"></div>
  </section>
  <section class='l-half projects'>
    <h2 class='h3 tagline'>pet projects by Dave Woodall</h2>
    <ul>
      <li>
        27. <%= link_to 'bible', verses_path %>
      </li>
      <li>
        26. <%= link_to 'tickets', tickets_path %>
      </li>
      <li>
        25. <%= link_to '@wwwoodall', wwwoodall_path %>
      </li>
      <li>Old pets
        <%= link_to '1 - 24',
        "http://wwwoodall.github.io/fakefarm/",
  target: '_blank' %>
      </li>
      <li class='h3'>other sites</li>
      <li>
        <%= link_to 'davewoodall.com',
        'http://www.davewoodall.com',
        target: '_blank' %>
      </li>
      <li>
        <%= link_to 'leave list',
            "http://www.leavelist.com/",
            target: '_blank' %>
      </li>
      <li>
        <%= link_to 'cat math do',
            "http://www.catmathdo.com/",
            target: '_blank' %>
      </li>
      <li>
        <%= link_to 'blog',
            'http://wwwoodall.blogspot.com',
            target: '_blank' %>
      </li>
      <li>
        <%= link_to 'old freelance',
        "http://www.clov3r.com/",
  target: '_blank' %>
      </li>
      <li>
        <%= link_to 'memorize proverbs',
            'http://proverbs.wwwoodall.com',
            target: '_blank' %>
      </li>
      <li>
        <%= link_to 'AMB3R',
            'http://wwwoodall.github.io/first/',
            target: '_blank' %>
      </li>
    </ul>
  </section>
</div>
