<% content_for :head do %>
  <title>wwwoodall | Dave Woodall online</title>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'wwwoodall' %>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400i,600|Open+Sans" rel="stylesheet">
<% end %>
 
<div id='wwwoodall'>
  <header class='hero'>
    <h1 class='headline'>wwwoodall</h1>
    <p class='tagline'>Dave Woodall online</p>
  </header>
  <section class='content'>
    <div class='handles'>
      <ul>
        <% @networks.each do |network| %>
          <li class="handle <%= network.handle %>">
            <%= link_to network.handle, "http://www." + network.url, target: '_blank' %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='network hidden'>
      <% @networks.each do |network| %>
        <h2 data-handle='title' class='handle-title'><%= network.handle %></h2>
        <p class='bio' data-bio="<%= network.handle%>"><%= network.bio %></p>
    <% end %>
    </div>
  </section>
</div>




