<div id='wwwoodall'>
  <header class='hero'>
    <h1 class='headline'>@wwwoodall</h1>
    <p class='tagline'>Dave Woodall's online handle.</p>
  </header>
  <section class='content'>
    <div class='handles'>
      <ul>
        <% @networks.each do |network| %>
          <li class="handle <%= network.handle %>">
            <%= link_to network.handle, "http://www." + network.url, target: '_blank' %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='network'>
      <% @networks.each do |network| %>
        <h2 data-handle='title' class='handle-title'><%= network.handle %></h2>
        <p class='bio' data-bio="<%= network.handle%>"><%= network.bio %></p>
    <% end %>
    </div>
  </section>
</div>




