<!DOCTYPE html>
<html>
  <%= render 'shared/layout/head' %>
  <body>
    <%= render 'shared/layout/header' %>
    <%= render 'shared/layout/flash' %>
    <%= yield %>
    <%= render 'shared/layout/scripts' %>
  </body>
</html>
